@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
    color: white;

}

.navbar {
    grid-template-columns: 1fr 4fr 1fr;
    height: 6vh;
}

.logo {
    margin-left: 20px;
    margin-top: 10px;
}

.second-nav {
    justify-content: center;
    gap: 5px;
}

.third-nav {
    justify-content: flex-end;
    gap: 10px;
}

.left {
    width: 25vw;
    height: 85vh;
    padding: 20px;
    background-color: #121212;
    flex-direction: column;
    gap: 60px;
    margin: 10px;
}

.library-section {
    justify-content: space-between;
    font-size: 16px;
    margin: 7px;
}

.right {
    width: 75vw;
    background-color: #121212;
}

.footer-left {
    width: 15vw;
    height: 85vh;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 10px;
}

.sign-up button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 2000px;
    border: none;
    cursor: pointer;
}

.login-btn button {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 2000px;
}

.create-playlist-btn {
    margin-top: 10px;
}


.create-playlist-btn button {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 2000px;
}

.podcast-btn {
    margin-top: 10px;
}

.podcast-btn button {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 2000px;
}

.browse-btn {
    margin-top: 10px;
}

.browse-btn button {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    border-radius: 2000px;
}


.search-box-container {
    padding: 5px;
    background-color: #1f1f1f;
    border-radius: 100px;
}

.search-box-container input {
    background-color: #1f1f1f;
    outline: none;
    color: white;
    min-width: 200px;
    text-decoration: none;
}

.search-box-container input::placeholder {
    text-decoration: none;
}

.search-box-container input::selection {
    outline: none;
}

.second-nav .home-svg {
    background-color: #1f1f1f;
    border-radius: 100px;
    min-width: 20px;
    min-height: 40px;
}